<template>
    <button 
        class="button"
        v-on="$listeners"
        v-bind="$attrs"
    >
        <slot/>
    </button>
</template>

<style lang="scss">
    .button {
        font-family: "Nunito Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        border: none;
        background-color: #5ba8e0;
        box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);
        padding: 1rem;
        border-radius: 1.5rem;
        font-size: 1rem;
        margin: 0;
        color: #ffffff;
        cursor: pointer;
        &:active, &:focus {
            outline: none;
        }
    }
</style>