<template>
    <div class="todo-item">
        <div 
            v-if="!isEditMode" 
            class="todo-item__content"
            :class="{'todo-item__content_done': isDone}"
            @click="activateEdit"
        >{{ text }} </div>
        <text-area-component 
            v-else 
            class="todo-item__edit" 
            :value="text"
            autofocus
            :rows="1"
            @blur="deactivateEdit"
            @keyup.esc="deactivateEdit"
            @on-input="changeText"
        ></text-area-component>
        <button 
            @click.prevent="changeStatus"
            class="todo-item__state" 
            :class="{'todo-item__state_done': isDone}"
        >
            <tick-icon v-show="isDone" class="todo-item__tick-icon" :fill="iconFill" />
        </button>
    </div>
</template>

<script>
import TickIcon from 'src/app/shared/icons/tick.vue';
import TextAreaComponent from 'src/app/shared/components/Textarea/Textarea.vue';

export default {
    components: {
        TickIcon,
        TextAreaComponent,
    },
    props: {
        text: {
            type: String,
            required: true,
        },
        isDone: {
            type: Boolean,
            required: true,
        },
    },
    data() {
        return {
            iconFill: '#ffffff',
            isEditMode: false,
        };
    },
    methods: {
        changeStatus(event) {
            this.$emit('change-status', !this.isDone);
        },
        activateEdit() {
            this.isEditMode = true;
        },
        deactivateEdit() {
            this.isEditMode = false;
        },
        changeText(value) {
            this.$emit('change-text', value)
        },
    },
}
</script>

<style lang="scss">
.todo-item {
    font-family: "Nunito Sans","Helvetica Neue",Helvetica,Arial,sans-serif; 
    display: flex;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);
    align-items: center;
    padding: 0.5rem;
    border-radius: 1.5rem;
    min-height: 3rem;
    justify-content: space-between;
    background-color: #ffffff;
    box-sizing: border-box;

    &__content {
        flex-shrink: 1;
        flex-grow: 1;
        font-size: 1rem;
        color: #242424;
        padding: 0.5rem;
        box-sizing: border-box;
        transition-property: color;
        transition-duration:  500ms;
        transition-timing-function: ease-in-out;
        white-space: pre-wrap;

        &_done {
            text-decoration: line-through;
            color: #c1c1c1;
        }
    }

    &__edit {
        padding: 0.5rem;
        resize: none;
        box-sizing: border-box;
        flex-shrink: 1;
        flex-grow: 1;
        font-size: 1rem;
        overflow: hidden;
        border: none;

        &:active, &:focus {
            outline: none;
        }
    }

    &__state {
        flex-shrink: 0;
        flex-grow: 0;
        display: flex;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        background-color: #ffffff;
        box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);
        box-sizing: border-box;
        transition: background-color 500ms ease-in-out;

        cursor: pointer;
        border: none;
        margin: 0;
        padding: 0;
        &:active, &:focus {
            outline: none;
        }

        &_done {
            background-color: #00bb38;
        }
    }

    &__tick-icon {
        flex-grow: 0;
        flex-shrink: 0;
        margin: auto;
        max-width: 60%;
        max-height: 60%;
        width: 100%;
        height: auto;
    }
}
</style>