<template>
    <input 
        class="input"
        v-on="$listeners"
        v-bind="$attrs"
    />
</template>

<script>
export default {
  
}
</script>

<style lang="scss">    
    .input {
        border: 1px solid #40868f;
        padding: 5px;
        &:active, &:focus {
            outline: none;
        }
    }
</style>