<template>
    <textarea 
        ref="textarea"
        :value="value"
        @input="onInput"
        @change="onChange"
        class="textarea"
        :style="textAreaStyles"
        v-on="$listeners"
        v-bind="$attrs"
    />
</template>

<script>
export default {
    props: {
        value: {
            type: String,
            required: false,
            default: '',
        }
    },
    data() {
        return {
            textAreaStyles: {},
        };
    },
    methods: {
        onInput(event) {
            // console.log(event);
            
            this.$emit('on-input', event.target.value)
        },
        onChange(event) {
            this.$emit('on-change', event.target.value)
        },
        autoResize() {
            const textElement = this.$refs.textarea;
            this.textAreaStyles = {height:'auto', padding:0};
            this.textAreaStyles = {height: `${textElement.scrollHeight }px`};
        },
    },
    mounted() {
        this.$refs.textarea.focus();
        console.log('mounted');
        this.autoResize();
    },
    watch: {
        value() {
            this.autoResize();
        }
    },
}
</script>

<style lang="scss">
.textarea {
    padding: 0;
}
</style>