<template>
    <div class="app">
        <router-view></router-view>
    </div>
</template>

<script lang="js">

export default {
    metaInfo: {
      // if no subcomponents specify a metaInfo.title, this title will be used
      title: 'Default Title',
      // all titles will be injected into this template
      titleTemplate: '%s | My Awesome Webapp'
    },
    components: {
    },
    data() {
        return {
        };
    },
    methods: {
    },
}
</script>

<style lang="scss">
.app {
    display: block;
}
</style>