<template>
    <div class="todo-main-page">
        <button-component class="todo-main-page__add" @click="addTask">Новая задача</button-component>
        <div class="todo-main-page__list">
            <todo-item 
                v-for="item in todoList"
                :key="item.id"
                class="todo-main-page__item"
                :text="item.text"
                :isDone="item.isDone"
                @change-status="changeTaskStatus({value: $event, id: item.id})"
                @change-text="changeTaskText({value: $event, id: item.id})"
            />
        </div>
    </div>
</template>

<script lang="js">
import {mapGetters, mapActions} from 'vuex';
import TodoItem from '../components/todoItem/TodoItem.vue';
import ButtonComponent from 'src/app/shared/components/Button/Button.vue';

export default {
    components: {
        TodoItem,
        ButtonComponent,
    },
    data() {
        return {
        };
    },
    computed: {
        ...mapGetters('todo', ['todoList']),
    },
    methods: {
        ...mapActions('todo', ['addTask', 'changeTaskText', 'changeTaskStatus']),
    },
}
</script>

<style lang="scss">
.todo-main-page {
    display: block;

    &__add {
        display: block;
        width: 200px;
        margin: 2rem auto;
    }
    &__list {
        width: 300px;
        margin: 0 auto;
    }
    &__item {
        margin: 1rem 0;
    }
}
</style>